/* Define a largura padrão para telas pequenas */
.about-image {
    width: 1500px;
  }
  
  /* Em telas maiores (por exemplo, a partir de 992px de largura) aumenta a largura */
  @media (max-width: 1195px) {
    .about-image {
      width: 2200px;
    }
  }

  @media (max-width: 993px) {
    .about-image {
      width: 2200px;
      
    }
  }

